<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet">
</head>
<body>
    <div class="w-screen h-screen bg-slate-500">
        <div class="flex w-screen justfy-center items-center">
            <form method="post" action="/search">
                <label for="search_query">Search</label>
                <input name="search_query" />
            </form>
        </div>
    </div>
{{id}}
</body>
</html>